<div class="bg" style="background-color: #f8f8f8">
  <nz-spin [nzSpinning]="isSpinning" [nzSize]="'large'">
    <div class="parent">
      <div class="child">
        <div nz-row class="imgDiv">
          <div nz-col nzSpan="24">
            <h1 >Activation code In: <span style="color: tomato;">{{email}}</span></h1>
          </div>
        </div>

        <form nz-form [formGroup]="codeForm">

          <nz-form-item>
            <nz-form-control nzHasFeedback [nzErrorTip]="userErrorTp1">
              <input nz-input placeholder="code" id="code" formControlName="code" />
              <ng-template #userErrorTp1 let-control>
                <ng-container *ngIf="control.hasError('required')">
                  Please Input The Code!
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>

          <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'"
            [disabled]="codeForm.invalid" (click)="onSubmit()">
            Submit
          </button>
        </form>
      </div>
    </div>
  </nz-spin>
</div>
